<div class="container" [style.display]="hiddenProp">
    <div class="web">
        <h2>Web Development</h2>
        <p>Frontend</p>
        <div class="box">
            <div class="skill-box">
                <h2>HTML</h2>
                <div class="progress">
                    <div class="bar Expert"></div>
                </div>
                <p>Expert</p>
            </div>

            <div class="skill-box">
                <h2>CSS</h2>
                <div class="progress">
                    <div class="bar Expert"></div>
                </div>
                <p>Expert</p>
            </div>

            <div class="skill-box">
                <h2>Javascript</h2>
                <div class="progress">
                    <div class="bar Expert"></div>
                </div>
                <p>Expert</p>
            </div>

            <div class="skill-box">
                <h2>Angular</h2>
                <div class="progress">
                    <div class="bar Intermediate"></div>
                </div>
                <p>Intermediate</p>
            </div>

            <div class="skill-box">
                <h2>React</h2>
                <div class="progress">
                    <div class="bar Intermediate"></div>
                </div>
                <p>Intermediate</p>
            </div>

        </div>
        <p>Backend</p>
        <div class="box">
            <div class="skill-box">
                <h2>Node Js</h2>
                <div class="progress">
                    <div class="bar Intermediate"></div>
                </div>
                <p>Intermediate</p>
            </div>

            <div class="skill-box">
                <h2>Express Js</h2>
                <div class="progress">
                    <div class="bar Intermediate"></div>
                </div>
                <p>Intermediate</p>
            </div>

            <div class="skill-box">
                <h2>Sql</h2>
                <div class="progress">
                    <div class="bar Expert"></div>
                </div>
                <p>Expert</p>
            </div>

            <div class="skill-box">
                <h2>nosql</h2>
                <div class="progress">
                    <div class="bar Expert"></div>
                </div>
                <p>Expert</p>
            </div>

        </div>
        <p>Databases</p>
        <div class="box">
            <div class="skill-box">
                <h2>Mysql</h2>
                <div class="progress">
                    <div class="bar Expert"></div>
                </div>
                <p>Expert</p>
            </div>

            <div class="skill-box">
                <h2>MongoDB</h2>
                <div class="progress">
                    <div class="bar Intermediate"></div>
                </div>
                <p>Intermediate</p>
            </div>

        </div>
    </div>
    <div class="salesforce">
        <h2>Salesforce</h2>
        <div class="box">
            <div class="skill-box">
                <h2>salesforce admin</h2>
                <div class="progress">
                    <div class="bar Expert"></div>
                </div>
                <p>Expert</p>
            </div>

            <div class="skill-box">
                <h2>apex</h2>
                <div class="progress">
                    <div class="bar Intermediate"></div>
                </div>
                <p>Intermediate</p>
            </div>

            <div class="skill-box">
                <h2>LWC</h2>
                <div class="progress">
                    <div class="bar Expert"></div>
                </div>
                <p>Expert</p>
            </div>

            <div class="skill-box">
                <h2>Aura Component</h2>
                <div class="progress">
                    <div class="bar Beginner"></div>
                </div>
                <p>Beginner</p>
            </div>

            <div class="skill-box">
                <h2>Live agent</h2>
                <div class="progress">
                    <div class="bar Expert"></div>
                </div>
                <p>Expert</p>
            </div>

            <div class="skill-box">
                <h2>SOQL</h2>
                <div class="progress">
                    <div class="bar Intermediate"></div>
                </div>
                <p>Intermediate</p>
            </div>

            <div class="skill-box">
                <h2>SOSL</h2>
                <div class="progress">
                    <div class="bar Beginner"></div>
                </div>
                <p>Beginner</p>
            </div>

        </div>
    </div>
    <div class="program">
        <h2>Programming Knowledge</h2>
        <div class="box">
            <div class="skill-box">
                <h2>Data structure</h2>
                <div class="progress">
                    <div class="bar Intermediate"></div>
                </div>
                <p>Intermediate</p>
            </div>

            <div class="skill-box">
                <h2>c</h2>
                <div class="progress">
                    <div class="bar Intermediate"></div>
                </div>
                <p>Intermediate</p>
            </div>

            <div class="skill-box">
                <h2>Java</h2>
                <div class="progress">
                    <div class="bar Intermediate"></div>
                </div>
                <p>Intermediate</p>
            </div>

            <div class="skill-box">
                <h2>Python</h2>
                <div class="progress">
                    <div class="bar Intermediate"></div>
                </div>
                <p>Intermediate</p>
            </div>
        </div>
    </div>
</div>