<div class="container" [style.display]="hiddenProp">
    <div class="profile-container">
        <img src="https://cdn.hero.page/pfp/e8eede59-3cdb-426f-96a4-dc997fc360c9-modern-samurai-anime-boy-4k-anime-boy-profile-picture-2.png" alt="profile">
        <div class="profile-icons">
            <a href="https://in.linkedin.com/in/mukunthan-m-7213811b7" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/m_k_d_007/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://github.com/mukunthan27" target="_blank"><i class="fa-brands fa-square-github"></i></a>
        </div>
    </div>
    <div class="userInfo">
        <div class="userName">
            <h2>Hi, </h2>
            <h2>I am Mukunthan</h2>
        </div>
        <div class="userPassion">
            <p>Professional MEAN and MERN Stack Developer</p>
            <p>Currently working at Cognizant as a Salesforce Developer</p>
            <p>Looking For an Opportunity to Explore</p>
        </div>
    </div>
</div>